<!DOCTYPE html>
<html>
<head>
    <title>ToDo List</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <h1>ToDo List</h1>
    <form method="post" action="/add">
        <input autocomplete="off" type="text" name="task" placeholder="Add a task" required>
        <button type="submit">Add</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task[1] }}
                <a href="/delete/{{ task[0] }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>