<!DOCTYPE html>
<html>
<head>
    <title>Messaging App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
    <h1 class="heading">Messaging App</h1>
    
    <div class="container">
        <form method="post" action="/add">
            <div class="form-content">
                <input class="username" type="text" name="username" placeholder="Your name" required />
                <textarea autocomplete="off" type="text" name="task" placeholder="Write your message here..." required></textarea>
                <button type="submit">Post Message</button>
            </div>
        </form>
        <a href="{{ url_for('read') }}">Go to Read Messages</a>
        
    </div>

</body>
</html>
