<!DOCTYPE html>
<html>
<head>
    <title>ShoutBoard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    
        <h1 class="heading">ShoutBoard</h1>
        <div class="big-container">
            {% if messages %}
            {% for message in messages %}
                <div class="card">
                    <h6>"{{ message[1] }}"</h6>
                    <p>-{{ message[2] }}</p>
                    <!-- <a href="/delete/{{ message[0] }}">Delete</a> -->
                </div>
            {% endfor %}
            {% else %}
                <p>No messages yet</p>
            {% endif %}
        </div>
        <a href="{{ url_for('index') }}">Go to Post a Message</a>
    
</body>
</html>
