<!DOCTYPE html>
<html>
<head>
    <title>Read Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="heading">Messages</h1>
        <ul>
            {% if messages %}
            {% for message in messages %}
                <li>
                    <strong>{{ message[2] }}:</strong> {{ message[1] }}
                    <a href="/delete/{{ message[0] }}">Delete</a>
                </li>
            {% endfor %}
            {% else %}
                <li>No messages yet</li>
            {% endif %}
        </ul>
        <a href="{{ url_for('index') }}">Go to Post a Message</a>
    </div>
</body>
</html>
